reisedemo/generator/query.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Nasdaq Boom (World of Cracking) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="query">
		<xs:complexType>
			<xs:all>
				<xs:element name="columns">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="column" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="path" type="xs:string" use="required"/>
									<xs:attribute name="title" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ordering" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="order" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="direction" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="ascending"/>
												<xs:enumeration value="descending"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="path" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="searches" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="search" maxOccurs="unbounded">
								<xs:complexType>
									<xs:group ref="searchpart" minOccurs="0"/>
									<xs:attributeGroup ref="namedobject"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="filters" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="filter">
								<xs:complexType>
									<xs:group ref="predicateexpression"/>
									<xs:attributeGroup ref="namedobject"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attributeGroup ref="namedobject"/>
		</xs:complexType>
	</xs:element>
	<xs:group name="searchpart">
		<xs:choice>
			<xs:element name="and">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:group ref="searchpart"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="or">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:group ref="searchpart"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="filter">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:group name="valuedexpression">
		<xs:choice>
			<xs:element ref="attribute"/>
			<xs:element name="parameter">
				<xs:complexType>
					<xs:attributeGroup ref="namedobject"/>
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:group name="predicateexpression">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="attribute"/>
				<xs:element name="like">
					<xs:complexType/>
				</xs:element>
				<xs:group ref="valuedexpression"/>
			</xs:sequence>
			<xs:sequence>
				<xs:element ref="attribute"/>
				<xs:element name="equal">
					<xs:complexType/>
				</xs:element>
				<xs:group ref="valuedexpression"/>
			</xs:sequence>
		</xs:choice>
	</xs:group>
	<xs:attributeGroup name="namedobject">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="label" type="xs:string"/>
		<xs:attribute name="documentation" type="xs:string"/>
	</xs:attributeGroup>
	<xs:element name="attribute">
		<xs:complexType>
			<xs:attribute name="path" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
